.about-block {
  margin-bottom: @basePadding*2;
  font-size: 18px;
  line-height: 27px;
}
.about-title {
  color: @gray;
  margin-bottom: @basePadding;
}
.about-link {
  a {
    color: @textColor;

    &:hover {
      color: @gray;
    }
  }
}
.about-span {
  margin-left: 140px;
  width: 700px;
}
.about-image {
  margin-bottom: @basePadding*3;
}
