.contact-index {
  margin-bottom: @basePadding*2;
  font-size: 18px;
  line-height: 23px;
}
.contact-title {
  margin-bottom: @basePadding;
  color: @red;
}
.contact-form_unit {
  margin-bottom: @basePadding/2;

  .contact-form_label, .contact-form_input {
    margin-bottom: @basePadding/2;
  }
  .contact-form_label label {
    font-weight: 200;
  }
  .contact-form_input {
    input, textarea {
      border-radius: 0;
      border: 1px solid @red;
      box-shadow: none;
      font-weight: 200;
    }
  }
}
.contact-form_actions {
  margin-top: @basePadding;
  text-align: right;
}
.contact-thanks {
  text-align: center;
  padding: @basePadding*2 0;
  .red {
    margin-bottom: @basePadding;
  }
}