.footer-filet {
  text-align: center;
  border-top: 1px solid @grayLight;
  margin-bottom: @basePadding*0.5;

  img {
    margin-top: -11px;
    background-color: white;
  }
}
.footer-newsletter {
  text-align: center;
}
.newsletter-form {
  margin: @basePadding;
}
input.newsletter-input {
  padding: 10px;
  text-align: center;
  border: 3px solid @red;
  -webkit-appearance: none;
  border-radius: 0;
}