.header {
  padding: @basePadding*2 0;
  border-bottom: 1px solid @grayLight;
}

.header-title, .header-subtitle {
  font-size: 20px;
  line-height: 24px;
  font-weight: 800;
}
.header-subtitle {
  color: @red;
}

.header-toplinks {
  margin-bottom: 50px;
  text-align: right;
}
.header-languages, .header-nav {
  margin: 0;
  list-style: none;
  font-weight: 200;

  .header-language, .header-nav-link {
    float: right;
    margin-left: @basePadding;

    a {
      color: @gray;

      &:hover, &.active {
        text-decoration: none;
        color: @red;
      }
    }
  }
}