.header {
  padding: @basePadding*1.5 0;
  border-bottom: 1px solid @grayLight;
}
a {
  .header-title, .header-subtitle {
    font-size: 20px;
    line-height: 24px;
    font-weight: 800;
    color: @textColor;
  }
  .header-subtitle {
    color: @red;
    letter-spacing: 0px;
  }
}

.header-toplinks {
  margin-bottom: 50px;
  text-align: right;
}
.header-languages, .header-nav {
  margin: 0;
  list-style: none;
  font-weight: 200;

  .header-language, .header-nav-link {
    float: right;
    margin-left: @basePadding;

    a {
      color: @gray;

      &:hover, &.active {
        text-decoration: none;
        color: @red;
      }
    }
  }
}