// FEATURED PROJECTS //////////////////////
.featured-projects {
  margin-bottom: @basePadding*2;
}
.featured-project-image {
  margin-bottom: @basePadding;
}
.featured-project-title {
  font-size: 16px;
  margin: @basePadding*0.5 0;
}