// PROJECT SLIDER /////////////////////////
#project-slider {
  margin-bottom: @basePadding*2;
}

.slider-control {
  position: absolute;
  top: 50%;
  margin-top: -24px;

  &.left {
    left: -40px;
  }
  &.right {
    right: -40px;
  }
}

// FEATURED PROJECTS //////////////////////
.featured-projects {
  margin-bottom: @basePadding*2;
}
.featured-project-image {
  margin-bottom: @basePadding;
}
.featured-project-title {
  font-size: 16px;
  margin: @basePadding*0.5 0;
}