.projects {
  &.show {
    .project-information {
      margin-bottom: @basePadding*2;
      font-weight: 200;
    }
    .project-title, .project-subtitle {
      font-size: 22px;
      line-height: 28px;
    }
    .project-title {
      color: @red;
    }
    .project-description {
      font-size: 16px;
      line-height: 20px;
    }
    .project-picture {
      margin-bottom: @basePadding;
    }
  }
}

.project-hover-title {
  transition: all 0.3s ease;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  padding: @basePadding*1.5;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 42px;
  line-height: 46px;
  text-shadow: 0 0 8px #777;
  opacity: 0;

  &.project-cover-title-1, &.project-cover-title-2 {
    font-size: 26px;
    line-height: 29px;
  }

  &.project-cover-title-3 {
    font-size: 32px;
    line-height: 38px;
  }

  .project-hover-cta {
    font-size: 16px;
    line-height: 16px;
    margin-top: @basePadding;
    font-weight: 400;
  }
}

.project-list {
  .project {
    display: inline-block;
  }
  .project-cover {
    position: relative;
    margin-bottom: @basePadding;

    &:hover {
      .project-hover-title {
        opacity: 1.0;
      }
    }
  }
}